<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Vue</title>
</head>
<body>
    <div id="app">
    <input type="text" v-model="todo" @keydown.enter="addTodo">
<div v-if="todoList.length > 0 "> 
<ul>
    <li v-for="todo in todoList" :key="todo.id">
    <input type="checkbox" name="" id="" v-model="todo.completed">
    <label :class="{'completed-item' : todo.completed}" for="/">{{todo.text}}</label>
    <button @click="deleteTodo(todo)">Delete</button>
    </li>
</ul>
</div> 
<div v-else>Todo bulunamamaktadır </div>
<div>
    <small>Tamalanmayan görevler:{{notCountItem}}</small>
    <small>Tamamlanan görevler:{{countItem}}</small>
</div>

<div>
    Toplam :{{notCountItem}}
</div>

<div><pre>{{todoList}}</pre></div>

</div> 
<script src="app.js"></script>

</body>
</html>